* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner-home {
    background-image: url('./images/images-home/banner-teste.jpg'); /* Caminho da sua imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    height: 50vh; /* Define a altura como 100% da altura da tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    color: white;
    position: relative;
}

#banner-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Adiciona uma sobreposição escura */
}

#banner-home h1 {
    position: relative;
    font-size: 3em;
    z-index: 1; /* Garante que o título fique acima da sobreposição */
    color: #C1D2D0;
}

#opcoes{
    position: center;
    align-items: center;
    justify-content: center;
}

.card img {
    object-fit: cover;
    height: 300px;
}
.card-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#sobre-texto{
    background-image: url(./images/images-home/sobre-fundo02.jpg);
    background-size: cover; /* Faz a imagem cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    height: 50vh; /* Define a altura como 100% da altura da tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    color: white;
    position: relative;

}

#sobre-texto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adiciona uma sobreposição escura */
}

#sobre-titulo h1{
    position: relative;
    font-size: 3em;
    z-index: 1; /* Garante que o título fique acima da sobreposição */
    color: #C1D2D0;
}

#sobre-paragrafo p{
    position: relative;
    color: #C1D2D0;
    z-index: 1; /* Garante que o título fique acima da sobreposição */
}

